.add-button {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.add-button:active {
  transform: scale(0.95); /* Efecto al hacer clic */
}

.add-button-icon {
  font-size: 1.8rem; /* Tamaño del icono */
  color: #ffffff; /* Color del icono */
}

.add-button :hover {
  color: #34d399; /* Color en hover */
  transform: scale(1.1); /* Efecto de escala */
}
