.rbc-allday-cell{
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.remove-time .rbc-time-gutter > .rbc-timeslot-group > .rbc-time-slot{
  display: none;
}

.rbc-time-header-gutter{
  display: none;
}

.rbc-time-content{
  display: none;
}

.rbc-time-header{
  /* haz que sea igual de largo que un box*/
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 0;
  position: static;
  background-color: #000000;

}

