/* dashbar.css */

/* Contenedor principal */
.dash-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Ancho del menú */
  height: 100vh; /* Altura completa del viewport */
  background-color: #292938; /* Fondo principal */
  color: #fff; /* Color del texto */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Sombra del menú */
}

/* Botones del usuario y ajustes */
.dash-container-user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  background-color: #1e1e28; /* Fondo de los botones del header */
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}

.dash-container-user:hover {
  background-color: #3b82f6; /* Color al pasar el cursor */
}

/* Íconos dentro de los botones del header */
.user-icon {
  margin-right: 5px; /* Espacio entre ícono y texto */
}

/* Header del Dash (Dashboard Button) */
.dish-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e28;
  padding: 10px 0;
}

.dish-header button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dish-header button:hover {
  color: #34d399;
}

/* Contenido del Dash */
.dash-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* Mostrar verticalmente */
  padding: 10px;
  gap: 15px; /* Espaciado entre botones */
}

.dash-content h2 {
  color: #34d399; /* Título en verde */
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
}

/* Botones de contenido */
.dash-content button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1e1e28;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.dash-content button:hover {
  background-color: #3b82f6;
  color: #fff;
}

.dash-content button i {
  margin-right: 10px;
  font-size: 18px;
}

/* Desplegable para calendarios */
.dash-content .calendar-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #1e1e28;
  padding: 10px;
  border-radius: 5px;
  margin-left: 20px;
  gap: 10px;
}

.dash-content .calendar-dropdown button {
  background-color: #292938;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dash-content .calendar-dropdown button:hover {
  background-color: #34d399;
  color: #fff;
}
