/* Contenedor principal del avatar */
.profile-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 1rem 0; Aumento el margen superior para crear más espacio */
  margin-bottom: 2rem;
}

/* Contenedor del avatar con menú */
.profile-avatar-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

/* Imagen del avatar */
.profile-avatar-wrapper img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #3b82f6;
  cursor: pointer;
  transition:
    border-color 0.3s ease,
    transform 0.2s ease;
}

.profile-avatar-wrapper img:hover {
  border-color: #34d399;
  transform: scale(1.1);
}

/* Menú emergente para las opciones del avatar */
.profile-avatar-menu {
  position: absolute;
  top: 160px; /* Ajusta según el tamaño de la imagen */
  background-color: #1f1f26; /* Fondo oscuro */
  /* border: 1px solid #; */
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 10; /* Asegura que el menú esté por encima */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* Botones dentro del menú del avatar */
.profile-avatar-menu button {
  background-color: #3b82f6; /* Azul */
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.profile-avatar-menu button:hover {
  background-color: #34d399; /* Verde */
  transform: scale(1.05);
}

/* Mensaje de carga */
.profile-avatar-loading {
  margin-top: 1rem;
  color: #f3f3f3;
  font-size: 0.9rem;
  text-align: center;
}

/* Contenedor principal de la página */
.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Contenido principal del dashboard */
.dashboard-main-content {
  /* background-color: #3b82f6; */ /* Para debugear */
  width: 80%;

  margin-top: 3rem;
}

.dashboard-main-content-body {
  display: flex;
  justify-content: space-around;
}

.dashboard-main-content-goals,
.dashboard-main-content-metrics {
  width: 45%;
  background-color: #1f1f26;
  padding: 1rem;
  border-radius: 1rem;
}

.dashboard-main-content-goals h1,
.dashboard-main-content-metrics h1 {
  font-weight: bold;
  justify-content: center;
  display: flex;
  margin-bottom: 1rem;
}

.metrics-calories,
.metrics-weight {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.metrics-calories input,
.metrics-weight input {
  background-color: #131318;
  color: #fff;
  border: 0.1rem solid #1f1f26;
  border-radius: 0.3rem;
  padding: 1rem;
}

.metrics-calories input:focus,
.metrics-weight input:focus {
  outline: none;
  border-color: #3b82f6;
}

.metrics-calories button,
.metrics-weight button {
  border-radius: 0.3rem;
  margin-top: 1rem;
  padding: 0.5rem;
  background: #3b82f6;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.metrics-calories button:hover,
.metrics-weight button:hover {
  background-color: #34d399;
  transform: scale(1.02);
}
