/* General Reset */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1e1e2f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor Principal */
.dish-container-empty,
.dish-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #29293d;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.add-button-empty,
.dish-container-empty p {
  margin-bottom: 1rem;
}

/* Título de la Página */
.dish-container h1 {
  font-size: 2rem;
  color: #e4e4f0;
  margin-bottom: 1.5rem;
}

/* Lista de Dishes (scrollable) */
.dish-list {
  width: 100%;
  max-height: 400px; /* Altura máxima para la lista */
  overflow-y: auto; /* Scroll vertical */
  padding: 0.5rem;
}

.dish-list::-webkit-scrollbar {
  width: 6px;
}

.dish-list::-webkit-scrollbar-thumb {
  background-color: #34d399;
  border-radius: 10px;
}

.dish-list::-webkit-scrollbar-track {
  background-color: #29293d;
  border-radius: 10px;
}

/* Tarjeta de Dish */
.dish-card {
  background-color: #292938;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}

/* Cabecera de Dish */
.dish-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

/* Nombre del Dish */
.dish-header h2 {
  font-size: 1.5rem;
  color: #e4e4f0;
  margin: 0;
}

.dish-header button:hover {
  color: #cc1f1f;
}

/* Información del Dish */
.dish-info {
  display: flex;
  flex-direction: column;
}

.dish-info p {
  margin: 0.5rem 0;
  color: #b3b3c2;
  font-size: 1rem;
}
